<div class="middle_banner">

<div class="featured_slider">
<!-- begin: sliding featured banner -->
 <div id="featured_border" class="jcarousel-container">
    <div id="featured_wrapper" class="jcarousel-clip">
       <ul id="featured_images" class="jcarousel-list">
          <li><%= image_tag "slider_photo.jpg", :size => "965x280", :alt => "" %></li>
          <li><%= image_tag "slider_photo2.jpg", :size => "965x280", :alt => "" %></li>
          <li><%= image_tag "slider_photo3.jpg", :size => "965x280", :alt => "" %></li>
          <li><%= image_tag "slider_photo.jpg", :size => "965x280", :alt => "" %></li>
       </ul>
    </div>
    <div id="featured_positioner_desc" class="jcarousel-container">
       <div id="featured_wrapper_desc" class="jcarousel-clip">
          <ul id="featured_desc" class="jcarousel-list">
             <li>
                <div>
                   <p>Disintegration is quite painless, I assure you.
                   </p>
                </div>
             </li>
             <li>
                <div>
                   <p>The end is near. I hear a noise at the door, as of some immense slippery body lumbering against it. It shall not find me.
                   </p>
                </div>
             </li>
             <li>
                <div>
                   <p>I screamed aloud that I was not afraid; that I never could be afraid; and others screamed with me for solace.
                   </p>
                </div>
             </li>
             <li>
                <div>
                   <p>No new horror can be more terrible than the daily torture of the commonplace.
                   </p>
                </div>
             </li>
          </ul>
       </div>

    </div>
    <ul id="featured_buttons" class="clear_fix">
       <li>1</li>
       <li>2</li>
       <li>3</li>
       <li>4</li>
    </ul>
 </div>
 <!-- end: sliding featured banner -->
</div>



</div><!---------------------------------end of middle banner-------------------------------->
<div class="home_section_left">
   <%= image_tag "icon1.gif", :alt => "", :class => "home_section_icon" %>
   <!-- <img src="images/icon1.gif" alt="" title="" class="home_section_icon" border="0"> -->

       <h2 class="home_title">What we do</h2>
       <div class="home_subtitle">Nothin'...nothin'...the colour...it burns...cold an' wet, but it burns</div>

       <div class="home_section_thumb">
       <%= image_tag "home_section_thumb1.jpg", :alt => "" %>
       <!-- <img src="images/home_section_thumb1.jpg" alt="" title="" border="0"> -->
       </div>
       <p><span>The Dunwich Horror</span><br>
         At eleven a. m. the next day I commenced digging. It was sunny weather, and I was glad of that. I was still alone, for as much as I feared the unknown horror I sought, there was more fear in the thought of telling anybody. Later I told Harris only through sheer necessity, and because he had heard odd tales from old people which disposed him ever so little toward belief. As I turned up the stinking black earth in front of the fireplace, my spade causing a viscous yellow ichor to ooze from the white fungi which it severed, I trembled at the dubious thoughts of what I might uncover. Some secrets of inner earth are not good for mankind, and this seemed to me one of them.
       <br> <br>
       <span>The Dream-Quest of Unknown Kadath</span><br>
       My hand shook perceptibly, but still I delved; after a while standing in the large hole I had made. With the deepening of the hole, which was about six feet square, the evil smell increased; and I lost all doubt of my imminent contact with the hellish thing whose emanations had cursed the house for over a century and a half. I wondered what it would look like—what its form and substance would be, and how big it might have waxed through long ages of life-sucking. At length I climbed out of the hole and dispersed the heaped-up dirt, then arranging the great carboys of acid around and near two sides, so that when necessary I might empty them all down the aperture in quick succession. After that I dumped earth only along the other two sides; working more slowly and donning my gas-mask as the smell grew. I was nearly unnerved at my proximity to a nameless thing at the bottom of a pit.
       </p>
       <a href="" class="more">
          <%= image_tag "more.gif", :alt => "", :class => "home_section_icon" %>
          <!-- <img src="images/more.gif" alt="" title="" border="0"> --></a>
<div class="clear"></div>
</div>


<div class="home_section_left">
   <%= image_tag "icon2.gif", :alt => "", :class => "home_section_icon" %>
   <!-- <img src="images/icon2.gif" alt="" title="" class="home_section_icon" border="0"> -->

       <h2 class="home_title">Who we are</h2>
       <div class="home_subtitle">Dun't go out thar</div>

       <div class="home_section_thumb">
       <%= image_tag "home_section_thumb2.jpg", :alt => "" %>
       <!-- <img src="images/home_section_thumb2.jpg" alt="" title="" border="0"> -->
       </div>
       <p><span>Beyond the Wall of Sleep</span><br>
       Suddenly my spade struck something softer than earth. I shuddered, and made a motion as if to climb out of the hole, which was now as deep as my neck. Then courage returned, and I scraped away more dirt in the light of the electric torch I had provided. The surface I uncovered was fishy and glassy—a kind of semi-putrid congealed jelly with suggestions of translucency. I scraped further, and saw that it had form. There was a rift where a part of the substance was folded over. The exposed area was huge and roughly cylindrical; like a mammoth soft blue-white stovepipe doubled in two, its largest part some two feet in diameter. Still more I scraped, and then abruptly I leaped out of the hole and away from the filthy thing; frantically unstopping and tilting the heavy carboys, and precipitating their corrosive contents one after another down that charnel gulf and upon the unthinkable abnormality whose titan <em>elbow</em> I had seen.
       <br> <br>
       <span>The Colour Out of Space</span><br>
       The blinding maelstrom of greenish-yellow vapor which surged tempestuously up from that hole as the floods of acid descended, will never leave my memory. All along the hill people tell of the yellow day, when virulent and horrible fumes arose from the factory waste dumped in the Providence River, but I know how mistaken they are as to the source. They tell, too, of the hideous roar which at the same time came from some disordered water-pipe or gas main underground—but again I could correct them if I dared. It was unspeakably shocking, and I do not see how I lived through it. I did faint after emptying the fourth carboy, which I had to handle after the fumes had begun to penetrate my mask; but when I recovered I saw that the hole was emitting no fresh vapors.
       </p>
       <a href="" class="more"><%= image_tag "more.gif", :alt => "", :class => "home_section_icon" %>
       <!-- <img src="images/more.gif" alt="" title="" border="0"> --></a>
<div class="clear"></div>
</div>

<div class="home_section_left">
  <%= image_tag "icon3.gif", :alt => "", :class => "home_section_icon" %>
  <!-- <img src="images/icon3.gif" alt="" title="" class="home_section_icon" border="0"> -->

       <h2 class="home_title">Special services</h2>
       <div class="home_subtitle">It come from some place whar things ain't as they is here</div>

       <div class="home_section_thumb">
         <%= image_tag "home_section_thumb3.jpg", :alt => "" %>
         <!-- <img src="images/home_section_thumb3.jpg" alt="" title="" border="0"> -->
       </div>
       <p><span>The Crawling Chaos</span><br>
         Then, in the midst of that demoniac spectacle, I saw a fresh horror which brought cries to my lips and sent me fumbling and staggering toward that unlocked door to the quiet street, careless of what abnormal terrors I loosed upon the world, or what thoughts or judgments of men I brought down upon my head. In that dim blend of blue and yellow the form of my uncle had commenced a nauseous liquefaction whose essence eludes all description, and in which there played across his vanishing face such changes of identity as only madness can conceive. He was at once a devil and a multitude, a charnel-house and a pageant. Lit by the mixed and uncertain beams, that gelatinous face assumed a dozen—a score—a hundred—aspects; grinning, as it sank to the ground on a body that melted like tallow, in the caricatured likeness of legions strange and yet not strange.
       <br> <br>
       <span>At the Mountains of Madness</span><br>
       I saw the features of the Harris line, masculine and feminine, adult and infantile, and other features old and young, coarse and refined, familiar and unfamiliar. For a second there flashed a degraded counterfeit of a miniature of poor mad Rhoby Harris that I had seen in the School of Design museum, and another time I thought I caught the raw-boned image of Mercy Dexter as I recalled her from a painting in Carrington Harris's house. It was frightful beyond conception; toward the last, when a curious blend of servant and baby visages flickered close to the fungous floor where a pool of greenish grease was spreading, it seemed as though the shifting features fought against themselves and strove to form contours like those of my uncle's kindly face. I like to think that he existed at that moment, and that he tried to bid me farewell. It seems to me I hiccupped a farewell from my own parched throat as I lurched out into the street; a thin stream of grease following me through the door to the rain-drenched sidewalk.
       </p>
       <a href="" class="more"><%= image_tag "more.gif", :alt => "", :class => "home_section_icon" %>
       <!-- <img src="images/more.gif" alt="" title="" border="0"> --></a>
<h1><%= @time %></h1>
<p>Duncan felt his brain liquefying</p>
