<div id="menu">
    <ul>
        <li><%= link_to "Home", "/home", :title => "" %>
          <!-- <a href="index.html" title="">Home</a> --></li>
        <li><%= link_to "About", "/about", :title => "" %>
          <!-- <a class="current" href="about.html" title="">About Company</a> --></li>
        <li><%= link_to "Projects", "/projects", :title => "" %>
          <!-- <a href="#" title="">Projects</a> --></li>
        <li><%= link_to "Clients", "/clients", :title => "" %>
          <!-- <a href="#" title="">Clients</a> --></li>
        <li><%= link_to "Testimonials", "/testimonials", :title => "" %>
          <!-- <a href="#" title="">Testimonials</a> --></li>
        <li><%= link_to "Contact", "/contact", :title => "" %>
          <!-- <a href="contact.html" title="">Contact</a> --></li>
    </ul>
</div>
