<div class="left_content">

  <div class="left_block">
      <h2>About Us</h2>
        <%= image_tag "pic.jpg", :alt => "", :class => "pic" %>
        <!--<img src="images/pic.jpg" alt="" title="" border="0" class="pic" /> -->
      <p>
        The place was dark and dusty and half-lost<br />
        In tangles of old alleys near the quays,<br />
        Reeking of strange things brought in from the seas,<br />
        And with queer curls of fog that west winds tossed.<br />
        Small lozenge panes, obscured by smoke and frost,<br />
        Just shewed the books, in piles like twisted trees,<br />
        Rotting from floor to roof—congeries<br />
        Of crumbling elder lore at little cost.
        <br /><br />
        I entered, charmed, and from a cobwebbed heap<br />
        Took up the nearest tome and thumbed it through,<br />
        Trembling at curious words that seemed to keep<br />
        Some secret, monstrous if one only knew.<br />
        Then, looking for some seller old in craft,<br />
        I could find nothing but a voice that laughed.
              </p>
    </div>

    <div class="left_block">
      <h2>Why we are different </h2>
        <p>
          I held the book beneath my coat, at pains<br />
          To hide the thing from sight in such a place;<br />
          Hurrying through the ancient harbor lanes<br />
          With often-turning head and nervous pace.<br />
          Dull, furtive windows in old tottering brick<br />
          Peered at me oddly as I hastened by,<br />
          And thinking what they sheltered, I grew sick<br />
          For a redeeming glimpse of clean blue sky.
          <br /><br />
          No one had seen me take the thing—but still<br />
          A blank laugh echoed in my whirling head,<br />
          And I could guess what nighted worlds of ill<br />
          Lurked in that volume I had coveted.<br />
          The way grew strange—the walls alike and madding—-<br />
          And far behind me, unseen feet were padding.
        </p>
    </div>


    <div class="block_wide">
        <h2>Our imagination </h2>

        <p>
          I do not know what windings in the waste<br />
          Of those strange sea-lanes brought me home once more,<br />
          But on my porch I trembled, white with haste<br />
          To get inside and bolt the heavy door.<br />
          I had the book that told the hidden way<br />
          Across the void and through the space-hung screens<br />
          That hold the undimensioned worlds at bay,<br />
          And keep lost aeons to their own demesnes.
          <br /><br />
          At last the key was mine to those vague visions<br />
          Of sunset spires and twilight woods that brood<br />
          Dim in the gulfs beyond this earth’s precisions,<br />
          Lurking as memories of infinitude.<br />
          The key was mine, but as I sat there mumbling,<br />
          The attic window shook with a faint fumbling.
        </p>



    </div>
    <p> Curioser and
  <span class='moreso'>    curioser...</span></p>
</div>
<div class="right_block">
  <h2>Latest news</h2>

    <div class="home_news">
      <%= link_to "Azathoth", "http://gutenberg.net.au/ebooks06/0600031h.html#13" %><br /><br />
      <%= link_to "The Cats of Ulthar", "http://gutenberg.net.au/ebooks06/0600031h.html#34" %><br /><br />
      <%= link_to "The Crawling Chaos", "http://gutenberg.net.au/ebooks06/0600031h.html#35" %><br /><br />
      <%= link_to "The Rats in the Walls", "http://gutenberg.net.au/ebooks06/0600031h.html#50" %><br /><br />
      <%= link_to "The Statement of Randolph Carter", "http://gutenberg.net.au/ebooks06/0600031h.html#54" %><br /><br />
      <%= link_to "Dagon", "http://gutenberg.net.au/ebooks06/0600031h.html#17" %><br /><br />
      <%= link_to "The Shadow over Innsmouth", "http://gutenberg.net.au/ebooks06/0600031h.html#09" %>
    </div>
  </div>
    <div class="wide_content">
      <h2>Terms &amp; Conditions</h2>
    <p>
      The two remaining carboys I emptied down without particular result, and after a time I felt it safe to shovel the earth back into the pit. It was twilight before I was done, but fear had gone out of the place. The dampness was less fetid, and all the strange fungi had withered to a kind of harmless grayish powder which blew ash-like along the floor. One of earth's nethermost terrors had perished for ever; and if there be a hell, it had received at last the demon soul of an unhallowed thing. And as I patted down the last spadeful of mold, I shed the first of the many tears with which I have paid unaffected tribute to my beloved uncle's memory.
    </p>
    <p>
      The next spring no more pale grass and strange weeds came up in the shunned house's terraced garden, and shortly afterward Carrington Harris rented the place. It is still spectral, but its strangeness fascinates me, and I shall find mixed with my relief a queer regret when it is torn down to make way for a tawdry shop or vulgar apartment building. The barren old trees in the yard have begun to bear small, sweet apples, and last year the birds nested in their gnarled boughs.    </p>
    </div>
